<ion-content  text-center class="bg-image no-scroll"> 
  <hr>
  <hr>  
  <div>      
    <ion-grid>        
      <ion-row color="primary" justify-content-center>          
          <img alt="logo" height="140"   src="../../assets/imgs/logoApp.png" > 
          
        <div padding>
          <ion-item  class="items_lis">
            <ion-icon name="contact" color="light" item-start></ion-icon>
            <ion-input icon-only name="name" class="input_transparent" type="text" placeholder="Username" ngModel required></ion-input>
          </ion-item>
          <hr>
          <ion-item class="items_lis">
            <ion-icon name="key" color="light"  item-start></ion-icon>
            <ion-input icon-only name="confirm" class="input_transparent" type="password" placeholder="Password" ngModel required
              *ngIf="!showPasswordText" (ionBlur)="Focus=false" (ionFocus)="Focus=true" minlength="8"></ion-input>
            <button ion-button clear icon-only type="button" item-right
              (click)="showPasswordText = !showPasswordText">
              <ion-icon *ngIf="!showPasswordText" name="eye"> </ion-icon>
              <ion-icon *ngIf="showPasswordText" name="eye-off"> </ion-icon>
            </button>
          </ion-item>
        </div>
      </ion-row>
    </ion-grid>
  </div>


  <div class="section_buttoms">
    <button ion-button class="button_blue" block (click)="login()">LOGIN</button>
    <button ion-button class="button_blue" block [navPush]="registerPage">REGISTER </button>
  </div>
  <p>
      <ion-text color="light">
       Developed by <br> Fegiti Innovación y Tecnología
      </ion-text>
  </p>

</ion-content>