<ion-header>
  <ion-navbar>
    <ion-title>ListProduct</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div>
    <ion-scroll scrollX="true" style="width:100%; height:280px">
      <div class="inner">
        <ion-card *ngFor="let i of newGames">
          <div>
            <p>{{i.title}}</p>
            <img src="{{i.image}}" class="img">
            <p>{{i.dev}}</p>
          </div>
        </ion-card>
      </div>
    </ion-scroll>
  </div> 
  
  <div>
      <ion-scroll scrollX="true" style="width:100%; height:280px">
        <div class="inner">
          <ion-card *ngFor="let i of newGames">
            <div>
              <p>{{i.title}}</p>
              <img src="{{i.image}}" class="img">
              <p>{{i.dev}}</p>
            </div>
          </ion-card>
        </div>
      </ion-scroll>
    </div>
</ion-content>